@import "font-awesome";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  width: 100%;
  background: white;
  color: #555;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
}

h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  margin-bottom: 1em;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.2rem;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
}

.container {
  width: 60%;
  max-width: 1024px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./Images/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.logo {
  width: 5.25em;
  height: auto;
}

.main-nav li {
  display: inline-block;
  margin-left: 2em;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.25em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 1px solid #e67e22;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  margin-top: 18em;
}


.headline {
  align-self: flex-start;
  color: white;
  font-size: 3.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  word-spacing: 0.15em;
  margin-bottom: 0.5em;
}

.links {
  align-self: flex-start;
}

.btn:link,
.btn:visited {
  display: inline-block;
  border: 1px solid #e67e22;
  border-radius: 70em;
  padding: 0.4em 1.5em;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 300;
  color: white;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn--full:link,
.btn--full:visited {
  background: #e67e22;
  margin-right: 0.7em;
}

.btn--full:hover,
.btn--full:active {
  background: #c2600b;
  border: 1px solid #c2600b;
}

.btn--ghost:link,
.btn--ghost:visited {
  color: #e67e22;
}

.btn--ghost:hover,
.btn--ghost:active {
  color: #c2600b;
  border: 1px solid #c2600b;
}

/* SECTION FEATURES */

.section-about {
  display: flex;
  flex-direction: column;
}

.description {
  margin-top: 5em;
  margin-bottom: 6em;
}

.section-features {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 5em;
}

.features {
  width: 22%;
}

.fas {
  color: #e67e22;
  font-family: 'Font Awesome 5 Free';
  font-size: 2em;
  font-weight: lighter;
}

.food {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5em;
}

.food img {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  /* transform: scale(1.0); */
}

/* .food img::before {
  content: "";
  display: block;
  background: #353535;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
} */

.food img:hover {
  opacity: 1;
}

/* .food img:hover {
  transform: scale(1.15);
  z-index: 2;
} */

.bibimbap {
  grid-column: span 1;
  grid-row: span 1;
}

.pizza {
  grid-column: span 1;
  grid-row: span 1;
}

.chicken {
  grid-column: span 1;
  grid-row: span 1;
}

.soup {
  grid-column: span 1;
  grid-row: span 1;
}

.steak {
  grid-column: span 1;
  grid-row: span 1;
}

.baguette {
  grid-column: span 1;
  grid-row: span 1;
}

.burger {
  grid-column: span 1;
  grid-row: span 1;
}

.granola {
  grid-column: span 1;
  grid-row: span 1;
}

/* SECTION 3 */

.how-it-works-section {
  background: #d6d6d6;
  padding: 5em 0;
  margin-top: 0.5em;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 60%;
  margin: 0 auto;
}

.how-it-works-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5em;
}

.how-it-works-content img {
  width: 12em;
  height: auto;
  margin-right: 5em;
  margin-left: 0;
}

.bullet-points {
  width: 60%;
  counter-reset: counter-name;
}

.bullet-points p {
  margin-bottom: 2em;
}

.bullet-point {
  position: relative;
}

.bullet-point::before {
  counter-increment: counter-name;
  content: counter(counter-name);
  position: absolute;
  left: -4em;
  top: 0.45em;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e67e22;
  border: 2px solid #e67e22;
}

.btn-app img {
  width: 8em;
  position: absolute;
  left: 36em;
  top: 168em;
  z-index: 5;
}

/* SECTION 4 */

.section-4 {
  width: 60%;
  margin: 6.5em auto;
}

.cities {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city {
  width: 22%;
  margin-top: 2em;
}

.city img {
  width: 100%;
  margin-bottom: 1em;
}

/* SECTION 5 */

.testimonials-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/back-customers.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
  padding: 3em 0;
}

.section-5 {
  width: 60%;
  margin: 5em auto;
}

.testimonials {
  display: flex;
  justify-content: space-between;
  margin: 3.5em 0;
  font-style: italic;
  color: white;
  font-size: 1.2rem;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
}

.testimonial+.testimonial {
  margin-left: 2.5em;
}

.testimonial-review {
  margin-top: 1em;
  margin-bottom: 1.5em;
  position: relative;
}

.testimonial-review::before {
  content: '\201F';
  font-size: 6rem;
  font-weight: lighter;
  color: white;
  position: absolute;
  left: -8;
  top: -8;
}

.testimonial-info {
  display: flex;
  align-items: center;
  font-size: 0.5rem;
  font-style: italic;
}

.testimonial__img {
  width: 3em;
  border-radius: 50%;
  margin-right: 1em;
}


/* SECTION 6 */

.sign-up-and-pricing-section {
  background: #f4f4f4;
  padding: 0.5em 0;
}

.section-6 {
  width: 60%;
  margin: 5em auto;
}

.plans {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
}

.plan {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: white;
  /* border: 0.5px solid #e67e22; */
  border-radius: 0.5em;
  padding: 2em;
}

.plan premium {
  transform: scale(2);
}

.plan-pricing {
  border-bottom: 1px solid #efefef;
}

.price {
  font-size: 3rem;
  font-weight: lighter;
  line-height: 2.5rem;
  padding: 0;
  margin-top: 1.5rem;
}

.price span {
  font-size: 0.9rem;
  font-weight: 300;
  color: #e67e22;
}

.per-meal {
  font-size: 0.9rem;
  color: lightgrey;
  font-weight: 300;
  padding: 0;
  margin-bottom: 1.5rem;
}

.per-meal-starter {
  font-size: 0.9rem;
  color: white;
  font-weight: 300;
  padding: 0;
  margin-bottom: 1.5rem;
}

.plan-details {
  padding: 1.5em 0;
  text-align: left;
  border-bottom: 1px solid #efefef;
}

.detail {
  position: relative;
  padding-left: 1.5rem;
  font-size: 1.1rem;
}

.detail::before {
  content: '\2714';
  position: absolute;
  left: 0em;
  top: -0.1em;
  font-size: 1.2rem;
  font-weight: lighter;
  color: #e67e22;
}

.detail.detail-3-starter::before {
  content: '\2613';
  position: absolute;
  left: -0.2em;
  top: -0.1em;
  font-size: 1.5rem;
  font-weight: bolder;
  font-style: italic;
  color: #e67e22;
}

.btn-plan-sign-up {
  padding-top: 2em;
}

.btn-plan-sign-up a {
  text-decoration: none;
}


/* SECTION 7 */

.contact-form-section {
  background: white;
  padding: 3em 0;
}

.section-7 {
  width: 60%;
  margin: 5em auto;
}

form {
  max-width: 450px;
  margin: 0;
}

form>div {
  position: relative;
  border: 1px solid lightgrey;
  border-radius: 1em;
  margin: 0.5em;
  font-size: 1.25rem;
}

form>div>label {
  opacity: 0.3;
  font-size: 1rem;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: normal;
  position: absolute;
  top: 17px;
  left: 17px;
}

form>div>input[type=text],
form>div>input[type=email],
form>div>input[type=password] {
  width: 100%;
  border: 0;
  padding: 20px 20px 20px 50px;
  /* background: white; */
}

form>div>input[type=text]:focus,
form>div>input[type=email]:focus,
form>div>input[type=password]:focus {
  outline: 0;
  /* background: white; */
}

form>div>input[type=text]:focus+label,
form>div>input[type=email]:focus+label,
form>div>input[type=password]:focus+label {
  opacity: 0;
}

form>div>input[type=text]:valid,
form>div>input[type=email]:valid,
form>div>input[type=password]:valid {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

form>div>input[type=text]:valid+label,
form>div>input[type=email]:valid+label,
form>div>input[type=password]:valid+label {
  opacity: 0;
}

form>div>input[type=text]:invalid:not(:focus):not(:placeholder-shown),
form>div>input[type=email]:invalid:not(:focus):not(:placeholder-shown),
form>div>input[type=password]:invalid:not(:focus):not(:placeholder-shown) {
  background: pink;
}

form>div>input[type=text]:invalid:not(:focus):not(:placeholder-shown)+label,
form>div>input[type=email]:invalid:not(:focus):not(:placeholder-shown)+label,
form>div>input[type=password]:invalid:not(:focus):not(:placeholder-shown)+label {
  opacity: 0;
}

form>div>input[type=text]:invalid:focus:not(:placeholder-shown)~.requirements,
form>div>input[type=email]:invalid:focus:not(:placeholder-shown)~.requirements,
form>div>input[type=password]:invalid:focus:not(:placeholder-shown)~.requirements {
  max-height: 200px;
  padding: 0 30px 20px 50px;
}

form>div .requirements {
  padding: 0 30px 0 50px;
  color: #fff;
  max-height: 0;
  transition: 0.28s;
  overflow: hidden;
  color: rgb(197, 12, 12);
  font-style: italic;
  font-size: 0.8rem;
}

form input[type=submit] {
  display: block;
  width: 100%;
  background: #e67e22;
  color: white;
  border-radius: 1em;
  padding: 1em 0;
  font-size: 1.1rem;
}

/* FOOTER */

.footer-section {
  background-color: #555;
  margin: 0;
  padding: 2em 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 2em auto;
}

.links {
  display: flex;
}

.navigation li {
  display: inline-block;
  text-decoration: none;
  margin-right: 1em;
  padding: 0;
}

.navigation a {
  text-decoration: none;
  color: #888888;
  font-size: 1.2rem;
}

.copyright {
  color: #888888;
  font-size: 0.8rem;
}