* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  color: #555;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-rendering: optimizeLegibility;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./Images/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 5.25em;
  height: auto;
  float: left;
  margin-top: 3em;
  margin-left: 20.1em;
}

.main-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  margin-top: 5em;
  margin-right: 20em;
}

.main-nav li {
  display: inline-block;
  margin-left: 2em;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: white;
  text-decoration: none;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.25em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 1px solid #e67e22;
}


.hero-text-box {
  display: flex;
  width: 100%;
  max-width: 1200px;
  flex-direction: column;
  margin-left: 20.1em;
  margin-top: 25em;
}

.headline {
  width: 100%;
  align-self: flex-start;
  color: white;
  font-size: 3.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  word-spacing: 0.15em;
  margin-bottom: 0.5em;
}

.links {
  align-self: flex-start;
}

.btn:link,
.btn:visited {
  display: inline-block;
  border: 1px solid #e67e22;
  border-radius: 70em;
  padding: 0.5em 0.75em;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 300;
  color: white;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn--full:link,
.btn--full:visited {
  background: #e67e22;
  margin-right: 0.7em;
}

.btn--full:hover,
.btn--full:active {
  background: #c2600b;
  border: 1px solid #c2600b;
}

.btn--ghost:link,
.btn--ghost:visited {
  color: #e67e22;
}

.btn--ghost:hover,
.btn--ghost:active {
  color: #c2600b;
  border: 1px solid #c2600b;
}

/* SECTION FEATURES */

.section-1 {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.description {
  margin-top: 5em;
  margin-bottom: 6em;
}

.description h2 {
  text-transform: uppercase;
  /* text-align: center; */
  font-size: 2em;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  margin-bottom: 1em;
}

.description p {
  /* text-align: center; */
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
}

.section-features {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /* text-align: center; */
  margin-bottom: 5em;
}

.features {
  width: 22%;
  /* margin-left: 0 2em; */
}

.features h3 {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
  margin-bottom: 0.5em;
}

.features p {
  line-height: 1.5em;
  letter-spacing: 0.05em;
  word-spacing: 0.05em;
}

.fas {
  color: #e67e22;
  font-size: 2em;
  font-weight: lighter;
}